<div class="no-events">
  <div class="no-events-message">
    <p id="no-events-message-text">Nothing to see here.</p>
    <%= link_to "back to Dashboard", dashboard_index_path(anchor: "today-anchor"), class: "button-back-to-dashboard" %>
    <p>Why don't you throw a little get together for your friends?</p>
    <%= link_to "Create", new_event_path, class: "button-create" %>
  </div>
</div>
