<div class="container">
  <h1>USER DASHBOARD</h1>
  <div class="day-section">
    <% @events_as_host.each do |event| %>
      <div class="event-card">
        <h4><%= event.title %></h4>
        <p><i class="far fa-calendar-alt"></i> <%= event.time %></i></p>
        <p><i class="far fa-calendar-alt"></i> <%= event.description %></i></p>
        <p><i class="fas fa-map-marker-alt"></i> <%= event.location %></i></p>
      </div>
    <% end %>
  </div>
</div>
