.items-playlist {
  width: 75%;
  margin-bottom: 80px;
  background-color: $light-gray;
  display: flex;
  border-radius: 2px;
  flex-direction: row;
  justify-content: stretch;
}
.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $beige;
  width: 100%;
  border-radius: 2px;
  align-content: space-between;
  padding: 48px;
  position: relative;
}
.list-container {
  background-color: $white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 400px;
  max-height: 420px;
  border: 1.5px solid black;
  border-radius: 2px;
  .button-map {
    background-color: $magenta;
    color: $white;
    text-decoration: none;
    padding: 5px 30px 5px 30px;
    border: 1.5px solid black;
    border-radius: 2px;
    // margin-top: auto;
    height: 100%;

    &:hover {
      text-decoration: none;
      background-color: black;
      color: $white;
    }
  }
}
.playlist-container {
  margin-left: 48px;
  background-color: #e8ddb5;
  position: relative;
  padding: 48px;

  iframe {
    border-radius: 2px;
  }
}
.add-item {
  margin-top: 16px;
  display: flex;
  width: 100%;
  height: 60px;

  .form-group {
    width: 80%;
    height: 100%;
      .form-control {
      height: 100%;
      width: 85%;
      font: 400 20px/1.5 Gilroy, sans-serif;

    }
  }
  .button-submit {
    padding: 5px;
    width: 15%;
  }
}
.items-list {
  background-color: $white;
  height: calc(100% - 120px);
  max-height: 415px;
  overflow: scroll;
  tr {
    font: 400 20px/1.5 Gilroy, sans-serif;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }
  th {
    padding: 12px 5px;
    text-align: center;
  }
  td {
    text-align: center;
    padding: 12px 5px;
  }
}
.items-form {
  display: inline-block;
}

table {
  // table-layout: auto;
  width: 100%;
}
#bring-title {
  font: 200 20px/1.5 Gilroy, sans-serif;
  margin: 0;
  padding-bottom: 5px;
  color: white;
}

#bring-list {
  text-decoration: none;
  color: #000;
  display: block;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
#bring-list td:hover {
  font-size: 30px;
  background: #f6f6f6;
}
#items-title {
  padding-bottom: 10px;
  color: black;
}