.items-playlist {
  width: 67.5vw;
  margin-bottom: 80px;
  background-color: $light-gray;
  display: flex;
  border-radius: 2px;
}
.items-container {
  display: flex;
  flex-direction: column;
  background-color: $beige;
  width: 100%;
  border-radius: 2px;
  padding: 48px;
  position: relative;
}
#test {
  height: -webkit-fill-available;
}

.list-container {
  height:100%;
  padding: 20px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  border: 1.5px solid black;
  border-radius: 2px;
  
  .button-map {
    background-color: $magenta;
    color: $white;
    text-decoration: none;
    padding: 5px 30px 5px 30px;
    border: 1.5px solid black;
    border-radius: 2px;
    // margin-top: auto;
    height: 100%;

    &:hover {
      text-decoration: none;
      background-color: black;
      color: $white;
    }
  }
}
.playlist-container {
  margin-left: 48px;
  background-color: #e8ddb5;
  position: relative;
  padding: 48px;
  display: flex;
  align-items: center;

  iframe {
    border-radius: 2px;
  }

  .playlist {
    width: fit-content;

    .no-playlist {
    width: max-content;
    font-size: 1.2rem;
    padding: 8px;
    a {
      font-size: 1rem;
      font-weight: normal;
    }
    }
  }
}

.add-item {
  display:flex;
  border: 1.5px solid black;
  border-radius: 2px;
  justify-content: space-around;
}

.items-form {
  display: flex;
  justify-content: space-between;
  background-color: #FFFDF7;
  #item_name {
    width: 100%;
    border-radius: 2px;
    justify-content: space-around;
    display: flex;
    background-color: #FFFDF7;
    font-size: 1.3rem;
    width: 95%;
    border: none;
    padding: 8px 16px;
    form {
      display: flex;
      width: 100%;
    }
  }

  .form-group {
    margin-bottom: 0;
  }

  .add-button {
    background-color: $white;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    &:focus {
      outline: 0;
    }

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-size: 1.7rem;
      color: $black;
      &:hover {
        text-decoration: none;
        color: $magenta;
      }
    }
  } 
}


.items-list {
  background-color: $white;
  height: calc(100% - 120px);
  max-height: 390px;
  overflow: scroll;
  tr {
    font: 400 20px/1.5 Gilroy, sans-serif;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }
  th {
    padding: 12px 5px;
    text-align: center;
  }
  td {
    text-align: center;
    padding: 12px 5px;
  }
}

.items-form {
  display: inline-block;
}

table {
  // table-layout: auto;
  width: 100%;
}
#bring-title {
  font: 200 20px/1.5 Gilroy, sans-serif;
  margin: 0;
  padding-bottom: 5px;
  color: white;
}

#bring-list {
  text-decoration: none;
  color: #000;
  display: block;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
#bring-list td:hover {
  font-size: 30px;
  background: #f6f6f6;
}
#items-title {
  padding-bottom: 10px;
  color: black;
}

