// Specific CSS for your home-page
#headers {
    margin-left: 60px;
    padding-top: 200px;
}

#headers2 {
  margin-left: 60px;
  padding-top: 40px;
  color: white;
}

h1 {
    font-size: 45px;
    font-weight: Bold;
}

h2 {
    font-size: 35px;
    font-weight: Medium;
    color: white;
}

p {
  margin-right: 60px;
}

#header-buttons {
    padding-top: 40px;
    padding-left: 60px;
}

#button-area {
  margin-left:0;
  background-image: image-url('background-buttons.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


#banner {
    background-image: image-url('homepage_banner.jpg')
}

* {
    box-sizing: border-box;
  }

div.container {
    padding-top: 30px;
    padding-left: 60px;
    display: inline-flex;
    width: 100vw;
  }

div.column {
    padding: 5px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  div.textblock {
    padding: 60px;
  }

section.desctiption {
    display: flex;
    justify-content: space-evenly;
}

html,body {
    padding:0;
    margin:0;
    height:100%;
    min-height:100%;
  }

div#content iframe {
    position: absolute;
    width:50%; 
    height:50%; 
    float:right
}

 div.launch-form {
   padding-top: 150px;
   padding-bottom: 150px;
   background-image: image-url('circlehome.png');
   background-position: center;
   background-repeat: no-repeat;
   text-align: center;
   align-content: center;
   align-items: center;
   justify-content: center;
   display: inline-flex;
   width: 100vw;
 }

 div.field {
  width:300px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.button-create-home {
  background-color:black;
  cursor: pointer;
  font-weight: bold;
  color:white;
  text-decoration:none;
  padding: 10px 30px 10px 30px;
  border: 1.5px solid black;
  border-radius:3px;
  text-decoration: none;
   &:hover {
    text-decoration: none;
    background-color:#AB99FB;
    color: white;
  }
}

#launch {
  background-image: image-url('banner2.jpg');
  background-size: cover;
}