.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5% 80px;
}


.event-card-section-container {
  width: 75%;
  a:hover {
    text-decoration: none;
  }
}

.headline {
  text-align: left;
  padding: 0 5% 60px;
}

.legend {
  display: flex;
  margin-bottom: 4px;
  justify-content: flex-end;
}

.no-events {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  margin: 80px 0px;
}

.no-events-message {
  text-align: center;
  width: 500px;
}

#no-events-message-text {
    color: $magenta;
    font-size: 30px;
    margin-bottom: 30px;
  }

.host-button {
  width: 100px;
  height: 30px;
  border-radius: 2px;
  background-color: $violet;
  border-color: black;
  border: solid;
  border-width: 2px;
  margin-right: 4px;
  display: table;
  margin-bottom: 4px;
  a {
    color: white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
}

.guest-button {
  width: 100px;
  height: 30px;
  border-radius: 2px;
  background-color: $green;
  border-color: black;
  border: solid;
  border-width: 2px;
  margin-right: 4px;
  display: table;
  margin-bottom: 4px;
  a {
    color: white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
}

.invitation-button {
  width: 100px;
  height: 30px;
  border-radius: 2px;
  background-color: $magenta;
  border-color: black;
  border: solid;
  border-width: 2px;
  display: table;
  margin-bottom: 4px;
  a {
    color: white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
}

.host-button:hover {
  font-weight: bold;
  font-size: 16px;
  background-color: black;
  text-decoration: none;
}

.guest-button:hover {
  font-weight: bold;
  font-size: 16px;
  background-color: black;
  text-decoration: none;
}

.invitation-button:hover {
  font-weight: bold;
  font-size: 16px;
  background-color: black;
  text-decoration: none;
}

.date-box {
  background-color: black;
  border-radius: 2px;
  color: white;
  height: 30px;
  text-align: center;
  padding: 4px 4px 4px 8px;
  width: 170px;
  position: absolute;
  top: -16px;
  left: -20px;
  text-align: left;
  p {
    margin: 0px;
  }
}

.event-card-section {
  display: flex;
  justify-content: left;
  background-color: $beige;
  margin-bottom: 60px;
  padding: 40px 30px 10px 30px;
  flex-wrap: wrap;
  position: relative;
  border-radius: 4px;
  width: 100%;
}


.event-card-hosting, .event-card-pending, .event-card-attending {
  border-color: black;
  border-radius: 2px;
  border: solid;
  background-color: white;
  // margin-top: 20px;
  // margin-bottom: 40px;
  margin: 30px 15px 25px 15px;
  width: 270px;
  color: black;
}

.event-card-header {
  background-color: black;
  color: white;
  text-align: center;
  height: 52px;
  padding: 20px 4px;
  position: relative;
}

.event-card-header:hover {
  #event-title:hover {
    font-weight: bold;
  }
}

.event-card-status-circle-host {
  background-color: $violet;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: solid;
  border-color: black;
  position: absolute;
  top: -50%;
  left: 43%;
}

.event-card-status-circle-guest {
  background-color: $green;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: solid;
  border-color: black;
  position: absolute;
  top: -50%;
  left: 43%;
}

.event-card-status-circle-invitation {
  background-color: $magenta;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: solid;
  border-color: black;
  position: absolute;
  top: -50%;
  left: 43%;
}

.event-card-body {
  background-size: cover;
  padding: 10px 10px;
  height: 150px;
  text-align: center;
  position: relative;
  p {
    margin: 0px;
    color: white;
    margin: 0px;
  }
}

.event-card-hosting, .event-card-attending, .event-card-pending {
  box-shadow: 7px 7px 14px #6d6855,
             -7px -7px 14px #ffffff;
}

.event-card-footer-symbols {
  position: absolute;
  right: 12px;
  bottom: 6px;
  i {
    color: $white;
    font-size: 25px;
  }
  i:hover {
    font-size: 30px;
  }
}

.overlay-host {
  position: absolute;
  background-color: rgba(171, 153, 251, 0.6);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  padding: 15px;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-guest {
  position: absolute;
  background-color: rgba(87, 136, 108, 0.6);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  padding: 15px;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-invitation {
  position: absolute;
  background-color: rgba(221, 17, 85, 0.6);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  padding: 15px;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.event-card-body:hover .overlay-host {
  opacity: 1;
}

.event-card-body:hover .overlay-guest {
  opacity: 1;
}

.event-card-body:hover .overlay-invitation {
  opacity: 1;
}

