.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5% 80px;
}

.event-card-section-container {
  width: 75%;
  a:hover {
    text-decoration: none;
  }
}

.date-box {
  background-color: black;
  border-radius: 2px;
  color: white;
  height: 30px;
  text-align: center;
  padding: 4px 4px 4px 8px;
  width: 170px;
  position: absolute;
  top: -16px;
  left: -20px;
  text-align: left;
  p {
    margin: 0px;
  }
}
.collapsible {
  cursor: pointer;
  border: none;
  outline: none;
}

.collapsible:after {
  content: '+'; /* Unicode character for "plus" sign (+) */
  font-size: 20px;
  color: white;
  // margin-right: 5px;
}

.active, .collapsible:hover {
  background-color: $magenta;
}

.active:after {
  content: "-"; /* Unicode character for "minus" sign (-) */
  color: white;
  font-size: 20px;
  padding-left: 10px;
  // margin-right: 5px;
}

.content {
  display: flex;
  display: none;
}

.headline {
  text-align: left;
  padding: 0 5% 60px;
}

.filter-row {
  display: flex;
  margin-bottom: 4px;
  justify-content: flex-end;
  .filter-form {
    padding-top: 3px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .filter-content {
  border-radius: 2px;
  padding: 5px 20px 5px 20px;
  background-color: black;
  width: 410px;
  height: 50px;
  align-items: center;
  }
}

#filter-label-hosting {
  color: $violet;
  margin: 0px 15px 0px 5px;
}

#filter-label-accepted {
  color: $green;
  margin: 0px 15px 0px 5px;
}

#filter-label-pending {
  color: $blue;
  margin: 0px 20px 0px 5px;
}

.button-filter {
  background-color:$magenta;
  cursor: pointer;
  font-weight: bold;
  color:white;
  text-decoration:none;
  padding: 3px 20px 3px 20px;
  border: 1.5px solid black;
  border-radius:3px;
  text-decoration: none;
  margin: 0px;
   &:hover {
    text-decoration: none;
    background-color:$violet;
    color: white;
  }
}

.no-events {
  display: flex;
  justify-content: space-around;
  // padding-top: 40px;
  margin: 60px 0px;
  .no-events-message {
    text-align: center;
    width: 500px;
  }
  #no-events-message-text {
      color: $green;
      font-size: 30px;
      margin: 0px;
    }
  .button-back-to-dashboard {
    cursor: pointer;
    color: $green;
    text-decoration: none;
    font-size: 15px;
     &:hover {
      text-decoration: none;
      font-weight: bold;
    }
  }
  p {
    margin-top: 50px;
  }
}

.hosting-button {
  width: 100px;
  height: 30px;
  border-radius: 2px;
  background-color: $violet;
  border-color: black;
  border: solid;
  border-width: 2px;
  margin-right: 4px;
  display: table;
  margin-bottom: 4px;
  a {
    color: white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
}

.accepted-button {
  width: 100px;
  height: 30px;
  border-radius: 2px;
  background-color: $green;
  border-color: black;
  border: solid;
  border-width: 2px;
  margin-right: 4px;
  display: table;
  margin-bottom: 4px;
  a {
    color: white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
}

.pending-button {
  width: 100px;
  height: 30px;
  border-radius: 2px;
  background-color: $blue;
  border-color: black;
  border: solid;
  border-width: 2px;
  display: table;
  margin-bottom: 4px;
  a {
    color: white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
}

.hosting-button:hover {
  font-weight: bold;
  font-size: 16px;
  background-color: black;
  text-decoration: none;
}

.accepted-button:hover {
  font-weight: bold;
  font-size: 16px;
  background-color: black;
  text-decoration: none;
}

.pending-button:hover {
  font-weight: bold;
  font-size: 16px;
  background-color: black;
  text-decoration: none;
}


.event-card-section {
  display: flex;
  justify-content: left;
  background-color: $beige;
  margin-bottom: 60px;
  padding: 40px 30px 10px 30px;
  flex-wrap: wrap;
  position: relative;
  border-radius: 4px;
  width: 100%;
}


.event-card-hosting, .event-card-pending, .event-card-accepted {
  border-color: black;
  border-radius: 2px;
  border: solid;
  background-color: white;
  // margin-top: 20px;
  // margin-bottom: 40px;
  margin: 30px 15px 25px 15px;
  width: 270px;
  color: black;
}

.event-card-header {
  background-color: black;
  color: white;
  text-align: center;
  height: 52px;
  padding: 20px 4px;
  position: relative;
}

.event-card-header:hover {
  #event-title:hover {
    font-weight: bold;
  }
}

.event-card-status-circle-hosting {
  background-color: $violet;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: solid;
  border-color: black;
  position: absolute;
  top: -50%;
  left: 43%;
}

.event-card-status-circle-accepted {
  background-color: $green;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: solid;
  border-color: black;
  position: absolute;
  top: -50%;
  left: 43%;
}

.event-card-status-circle-pending {
  background-color: $blue;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: solid;
  border-color: black;
  position: absolute;
  top: -50%;
  left: 43%;
}

.event-card-body {
  background-size: cover;
  padding: 10px 10px;
  height: 150px;
  text-align: center;
  position: relative;
  p {
    margin: 0px;
    color: white;
    margin: 0px;
  }
}

.event-card-hosting, .event-card-accepted, .event-card-pending {
  box-shadow: 7px 7px 14px #6d6855,
             -7px -7px 14px #ffffff;
}

.event-card-footer-symbols {
  position: absolute;
  right: 12px;
  bottom: 6px;
  i {
    color: $white;
    font-size: 25px;
  }
  i:hover {
    font-size: 30px;
  }
}

.overlay-hosting {
  position: absolute;
  background-color: rgba(171, 153, 251, 0.6);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  padding: 15px;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-accepted {
  position: absolute;
  background-color: rgba(87, 136, 108, 0.6);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  padding: 15px;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-pending {
  position: absolute;
  background-color: rgba(210, 253, 255, 0.6);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  padding: 15px;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.event-card-body:hover .overlay-hosting {
  opacity: 1;
}

.event-card-body:hover .overlay-accepted {
  opacity: 1;
}

.event-card-body:hover .overlay-pending {
  opacity: 1;
}

