<div class= "footer">
    <div id ='beige-bar'>
    </div>
    <div id ='purple-bar'>
        <div id = 'left-textbox'>
    <p> Careers </p>
        </div>
        <div id = 'center-textbox'>
            <ul> 
            <li><i id ="socials-icon" class="fab fa-facebook"></i></li>
            <li><i id ="socials-icon" class="fab fa-instagram-square"></i></li>
            <li><i id ="socials-icon" class="fab fa-twitter-square"></i></li>
            <li><i id ="socials-icon" class="fab fa-linkedin"></i></li>
            <li><i id ="socials-icon" class="fab fa-spotify"></i></li>
            </ul>
        </div>
        <div id = 'right-textbox'>
        <p>  Contact us</p>
        </div>
    </div>
    <div id ='black-bar'>
    <p> Coded with love by the Host.it team. </p>
    </div>
</div>
