.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5% 80px;

  .event-details {
    width: 100%;
    margin: 80px;
    background-color: $beige;
    padding: 48px;
    position: relative;

    #event-title {
      font-size: 3rem;
    }

    #event-time-location {
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.4);
    }

    #event-description {
      font-size: 1.5rem;
    }

    #event-edit-delete {
      position: absolute;
      top: 16px;
      right: 16px;
      a {
        color: black;
        padding: 0 5px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .event-guest-map {
    background-color: $beige;
    padding: 48px;
    width: 100%;
    display: flex;
    margin-bottom: 80px;

    .guest-list {
      background-color: $black;
      padding: 42px;
      display: flex;
      flex-direction: column;
      .guest-cards {
        background-color: $white;
        height: 500px;
        width: 400px;
        // temporary
        color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
      }
    }

    .guest-name {
      margin: 42px;
      align-self: center;
      font-size: 1.5rem;
      color: $white;
    }

    .list-button {
      width: fit-content;
      align-self: center;
      &:hover {
        background-color: $white;
        color: $black;
      }
    }

    .invite-modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */ 
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      justify-content: center;
      align-items: center;
    }
    
    /* Modal Content */
    .invite-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 60%;
      position: relative;

      #close-button {
        background-color: $beige;
        border: none;
        position: absolute;
        top: 8px;
        right: 8px;
        i {
          font-size: 1.5rem;
        }
      }
    }
  }

  .location-map {
    width: 100%;
    background-color: #000000;
    height: inherit;
    margin-left: 42px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
  }

  .event-items-playlist {
    background-color: $beige;
    padding: 48px;
    width: 100%;
    display: flex;

    .bring-list {
      background-color: $black;
      height: 500px;
      width: 60%;
      padding: 42px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .items {
        height: 80%;
        background-color: $white;
        width: 100%;
        margin-bottom: auto;
      }

      .bring-form {
        display: flex;
        width: 100%;
        #item-input  {
          border: none;
          height: 48px;
          width: 90%;
          padding: 8px 16px;
          font-size: 1.3rem;
        }
        .add-item {
          background-color: $white;
          width: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            width: 100%;
            height: 100%;
            font-size: 2.5rem;
            color: $black;
            &:hover {
              text-decoration: none;
            }
          }
          
        }
      }
    }

    .playlist {
      background-color: $black;
      height: 500px;
      width: 30%;
      margin-left: auto;
      // This si temporary until we have the playlist
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      font-size: 3rem;
    }
  }
}

.event-banner {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-color: gray;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
