<div class="container">
  <h1>Add item to bring to the list</h1>
  <%= simple_form_for [@event, @item] do |f| %>
    <%= f.input :name, :label => "What would you like  to bring?"  %>
    <%= f.submit "Add item", class: "btn-devise" %>
</div>
  <% end %>